.story{
    font-family:'Roboto',sans-serif;
    text-align:left;
    margin-left:5%;
    margin-top:15%;
}

.story-description{
    text-align:left;
    font-size:20px;
    font-weight:300;
    margin-top:10px;
}

.story-iteration{
    font-size:18px;
    font-weight:300;
}

.story-iteration .heading{
    margin-top:10px;
}